<app-navigation-one></app-navigation-one>
<app-navigation-two></app-navigation-two>
<div class="container">

  <app-main-slider></app-main-slider>
<!----------------------------- Card Slider Most Popular-------------------------------->

  <app-most-popular></app-most-popular>

  <!----------------Section list 1------------------>
  <div class="section-lists row d-flex justify-content-around">
    <div class="container-sec col-lg-4">
      <app-most-played></app-most-played>
    </div>
    <div class="container-sec col-lg-4">
      <app-top-seller></app-top-seller>
    </div>
    <div class="container-sec sec-border col-lg-4">
      <app-top-rated></app-top-rated>
    </div>
  </div>
  <!----------------------------- Free Games -------------------------------->
  <app-free-games></app-free-games>
  <!----------------------------- Card Slider Game On Sale -------------------------------->
  <app-games-onsale></app-games-onsale>
  <!----------------Section list 2------------------>
  <div class="section-lists row d-flex justify-content-around">
    <div class="container-sec col-lg-4">
      <app-new-release></app-new-release>
    </div>
    <div class="container-sec col-lg-4">
    <app-coming-soon> </app-coming-soon>
    </div>
    <!-- ======================================= -->
    <div class="container-sec sec-border col-lg-4">
      <app-recently-updated></app-recently-updated>
    </div>
  </div>
</div>

<app-footer></app-footer>
