<footer>
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-3 col-sm-12">
        <div class="row">
          <div class="col-12">
            <h4>Store</h4>
            <p data-aos="fade-up">
              <a routerLink="/discover">Discover</a>
              <a routerLink="/Browse">Browes</a>
              <a href="">Library</a>
              <br>
              <a routerLink="/Distribution">Distribution</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12">
        <div class="row">
          <div class="col-12" data-aos="fade-up">
            <h4>Categories</h4>
            <p class="geners">
            <a routerLink="">Action</a>
            <a routerLink="">Shooter</a>
            <a routerLink="">Adventure</a>
            <a routerLink="">Fighting</a>
            <a href="">Racing</a>
            <a href="">Horror</a>
            <a href="">Party</a>
            <a href="">Sports</a>
            <a href="">Startegy</a>
            </p>

          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12" data-aos="fade-up">
        <div class="row">
          <div class="col-12">
            <button (click)="toTop()">
              <i class="bi bi-arrow-up-short" id="top-arrow"></i>
            </button>
          </div>
          <div class=" col-12 ms-lg-5">
            <div class="text-center">
              <img src="assets/img/logo.png" width="40" alt="cubegame logo">
            </div>
            <div class="col-12 text-center">
              <p class="CR">Copyright &copy; 2023 Cube Game, <br>
                    All Rights Reserved.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
