<ng-container *ngIf="AllProductCart.length !=0">
  <div class="container my-4">
    <button class="btn-back" routerLink="/"><i class="bi bi-arrow-left"></i></button>

    <h1>My Cart</h1>

    <div class="container-head" data-aos="fade-up">
      <p style="width:10px; ">Sr.No</p>
      <p>Product Image</p>
      <p style="width:250px; ">Product Name</p>
      <p>Price</p>
      <p>Discount</p>
      <p>Price After Discount</p>
      <p>Action</p>
    </div>
          <div class="cart-product">

            <div class="container-list" *ngFor="let item of AllProductCart; let i = index" data-aos="fade-right">
                <div style="width:40px; ">{{i+1}}</div>
                <div>
                  <img width="80px" alt="card-list" src="{{item.image}}">
                </div>
                <div style="width:250px; "><h4>{{item.productName}}</h4></div>
                <div><h4>{{item.price}} <span> EGP</span></h4></div>
                <div><h4>{{item.discount}}%</h4></div>
                <div><h4>{{item.priceAfterDiscount}} <span> EGP</span></h4></div>
                <div>
                    <i class="bi bi-x-square-fill" (click)="removeItem(item.id)"></i>
                </div>
              </div>
              <div class="d-flex justify-content-between">
                <div>
                  <button (click)="emptycart()" class="btn btn-empcart mx-1">Empty Cart</button>
                  <button routerLink="/Browse" class="btn btn-shopm  mx-1">Shop More</button>
                  <button routerLink="/checkout-userdetails" class="btn btn-checkout  mx-1">Checkout</button>
                </div>
                <div>
                  <h2>Grand Total : {{Total}} EGP</h2>
                </div>
              </div>
            </div>
          </div>
</ng-container>

<ng-container *ngIf="AllProductCart.length ==0">
  <div class="container mt-4" data-aos="zoom-in">
    <h1>My Cart</h1>
      <div class="card">
        <img src="../../assets/img/cart.png" alt="">
      </div>
      <div class="center">
          <h4>Your cart is empty!</h4>
          <h6>Add item to it now</h6>
          <button routerLink="/Browse" class="btn btn-shop">Shop Now</button>
      </div>
  </div>
</ng-container>
