<div class="list-title d-flex justify-content-between align-items-center" data-aos="fade-right">
  <h4>Top Sellers</h4>
  <button class="btn btn-view-list btn " type="button">View More</button>
</div>
<div data-aos="fade-right" class="container-list d-flex align-items-center" *ngFor="let t of TopSeller" routerLink="/Browse/{{t.productId}}">
  <div>
    <img width="80px" alt="card-list" src="{{t.picture}}">
  </div>
  <div class="ms-3">
    <h4>{{t.productName}}</h4>
    <h5>{{t.price}} <span> EGP</span></h5>
  </div>
</div>
