.cssload-container
{
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #15102B;
}
.spinner
{
  height : 70px;
  width : 70px;
  border-radius : 50%;
  border : 5px solid transparent;
  border-top-color : #6FE2E1;
  display: block;
  position: absolute;
  left: 48%;
  top: 45%;
  animation : spin infinite 1s;
}
@keyframes spin{
  from {
    transform : translate(-50%,-50%) rotate(0deg);
  }
  to{
    transform :translate(-50%,-50%) rotate(359deg);
  }
}
