/* You can add global styles to this file, and also import other style files

#6FE2E1 aqua
#1F193D footer-fnav
#645B8F hover
#15102B body

don't forget to use root for colors :{var (--color)}*/

body
{
  background-color: #15102B;
  font-family: 'Play';
  color: white;
}
::-moz-selection { /* Code for Firefox */
  color: white;
  background: #6FE2E1;
}
::selection {
  color: white;
  background: #645B8F;
}
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: #1F193D;
  border-radius: 50px;
}
*::-webkit-scrollbar-thumb {
  background: rgb(100, 92, 143);
  border-radius: 50px;
}
*::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 92, 143);
}
