<app-navigation-one></app-navigation-one>
  <div class="container">
    <div class="row">
      <!--img bg ->will add text on it for vendors to make companies sign up with us-->
      <div class="intro">
      </div>
      <div>
        <div class="head-feature" data-aos="fade-down">
          <h2>OUR FEATURES</h2>
          <hr>
        </div>
        <div class="services d-flex col-lg-12" data-aos="fade-down">
          <div class="body-service col-lg-4">
            <div class="top-service">
              <i class="bi bi-award"></i>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit aliquam odio temporibus.</p>
          </div>
          <div class="body-service col-lg-4">
            <div class="top-service">
              <i class="bi bi-award"></i>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit aliquam odio temporibus.</p>
          </div>
          <div class="body-service col-lg-4">
            <div class="top-service">
              <i class="bi bi-award"></i>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit aliquam odio temporibus.</p>
          </div>
        </div>
        <div class="services col-lg-12 d-flex" data-aos="fade-down">
          <div class="body-service col-lg-4">
            <div class="top-service">
              <i class="bi bi-award"></i>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit aliquam odio temporibus.</p>
          </div>
          <div class="body-service col-lg-4">
            <div class="top-service">
              <i class="bi bi-award"></i>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit aliquam odio temporibus.</p>
          </div>
          <div class="body-service col-lg-4">
            <div class="top-service">
              <i class="bi bi-award"></i>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit aliquam odio temporibus.</p>
          </div>
        </div>
      </div>
      </div>
      </div>
      <app-dist-filmslider></app-dist-filmslider>
  <div class="games" data-aos="zoom-in" data-aos-anchor-placement="top-center">
    <h2>More And More Games <br> The GAMS store saw a significant increase in sales over the past year,</h2> <h5>thanks to effective marketing strategies and a focus on customer satisfaction.</h5>
  </div>
  <app-dist-filmslidel></app-dist-filmslidel>
  <div class="container">
    <div class="row">
      <div class="achievement my-5">
        <div class="head-achev" data-aos="fade-down" data-aos-anchor-placement="top-center">
          <h2>OUR ACHIEVEMENTS</h2>
          <hr>
        </div>
        <h5 class="achev-body" data-aos="fade-down" data-aos-anchor-placement="top-center">Lorem adipisicing elit. ipsum ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ut at quos?</h5>
        <div class="our-numbers d-flex col-lg-12">
          <div class="count-body special-count" data-aos="fade-right">
            <h1>+ {{gamecount}}</h1>
            <h4>Games</h4>
          </div>
          <div class="count-body" data-aos="fade-up">
            <h1>+ {{genercount}}</h1>
            <h4>Geners</h4>
          </div>
          <div class="count-body special-count" data-aos="fade-left">
            <h1>+ {{publishercount}}</h1>
            <h4>Publishers</h4>
          </div>
        </div>
      </div>
      <div class="my-5">
      <div class="head-pay" data-aos="fade-right" data-aos-anchor-placement="top-center">
        <h1>Payment Way</h1>
        <hr>
      </div>
      <div class="payment my-4 d-flex justify-content-between">
        <div class="pay-body col-lg-6" data-aos="fade-up" data-aos-anchor-placement="top-center">
          <h4>Stripe is a trusted and reliable payment partner, with a proven track record of security and reliability.</h4>
          <br>
          <h5>We've built a simple and quick checkout flow so you can complete your payment and order in minutes.</h5>
          <br>
            <div class="btn-pay" routerLink="/Browse" data-aos="fade-up" data-aos-anchor-placement="top-center">
              <h5>Go To Shop Now </h5> &nbsp;&nbsp; <i class="bi bi-arrow-right"></i>
            </div>
        </div>
        <div class="strip-img" data-aos="zoom-out" data-aos-anchor-placement="top-center">
          <img src="../../assets/img/strip.gif" width="300px" alt="strip">
        </div>
      </div>
      </div>
    </div>
  </div>

<app-footer></app-footer>
